<form [formGroup]="contactForm">
  <select formControlName="businessType">
    <option *ngIf="!contactForm.get('businessType').dirty" value="">Seleccione tipo de negocio</option>
    <option *ngFor="let businessType of businessTypes" [value]="businessType">
      {{businessType}}
    </option>
  </select>
  <input formControlName="name" />
  <input formControlName="phone" />
  <input formControlName="email" />
  <input formControlName="url" />
  <textarea formControlName="message"></textarea>
</form>
