<div class="panel">
  <div class="header" (click)="selectService(service)">
    <div class="left">
      <img [class.active]="service.selected" src="/assets/tick.png" class="tick" />
    </div>
    <div class="right">
      <h2 class="title">{{service.title}}</h2>
    </div>
  </div>

  <div class="body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-5">
          <app-service-item [item]="firstItem()" first="true"></app-service-item>
        </div>
        <div class="col-12 col-md">
          <app-service-item *ngFor="let item of lastItems()" [item]="item"></app-service-item>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

  <div class="footer">
    Subtotal: Fijo <span class="subtotal">${{subtotal(service.items).fixed.toFixed(2)}}</span> | Mensual <span class="subtotal">${{subtotal(service.items).monthly.toFixed(2)}}</span>
  </div>
</div>
