<div  class="item" [style.width]="first ? '100%' : ''" [class.selected]="item.selected" (click)="item.selected = !item.selected">
  <div class="left" [class.selected]="item.selected">
    <div class="image">
      <img [class.active]="item.selected" src="/assets/tick.png" class="tick" />
    </div>
    <div *ngIf="first" class="title">
      <h2>BASE</h2>
    </div>
  </div>

  <div class="right" [class.selected]="item.selected">
    <h3 *ngFor="let title of item.title" class="title">{{title}}</h3>
    <span *ngIf="item.price !== undefined; else noPrice" class="price">
      ${{item.price}} <span *ngIf="item.priceType === 'monthly'">por mes</span>
    </span>
    <ng-template #noPrice><span class="price">A consultar</span></ng-template>
  </div>
</div>
