@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body, html {
  background-color: #e9ebee;
  color: #1d2129;
  font-family: Ubuntu,Helvetica,Arial;
  font-size: 16px;
}

.header {
  h1 {
    text-align: center;
    font-size: 2rem;
  }
}

.panel {
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  margin-bottom: 1rem;
  position: relative;

  .header {
    padding: 1rem;
    display: flex;
    align-items: stretch;

    &:hover {
      cursor: pointer;
    }

    .left {
      width: 32px;
      height: 32px;
      background-color: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #ddd;

      .tick {
        width: 50%;
        height: 50%;
        opacity: 0.1;

        &.active {
          opacity: 1;
        }
      }
    }

    .right {
      background-color: #f9f9f9;
      display: flex;
      align-items: center;
      border: 1px solid #eee;
      border-left: none;

      h2.title {
        color: #919191;
        color: #555;
        display: inline-block;
        font-size: 1.2rem;
        margin: 0 10px;
      }
    }
  }

  .body {
    display: flex;
    align-items: baseline;
  }

  .footer {
    padding: .5rem;
    border-top: 1px solid #eee;
    font-size: 1.2rem;
    color: #555;

    .subtotal {
      font-weight: bold;
    }
  }
}

h1 {
  padding: .5rem;
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 700;
  color: #777;
}

.item {
  float: left;
  display: flex;
  margin-bottom: 1.2rem;
  margin-right: 1.2rem;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  .left {
    z-index: 10;
    display: flex;

    .image {
      width: 25px;
      height: 25px;
      background-color: #eee;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: -1px;

      .tick {
        width: 65%;
        height: 65%;
        opacity: 0.1;

        &.active {
          opacity: 0.8;
        }
      }
    }

    .title {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #eee;
      color: #999;

      h2 {
        margin: 0;
        font-size: 0.9rem;
      }
    }

    &.selected {
      .image {
        border: 1px solid #999;
        border-bottom: none;
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f9f9f9;
    border: 1px solid #eee;

    .title {
      padding: 0.5rem 1rem;
      font-size: 1rem;
      color: #555;
      margin: 0;
    }

    .price {
      padding: 0.2rem 1rem;
      margin-top: 3px;
      font-size: 0.8rem;
      color: #777;
      background-color: #f2f2f2;
    }

    &.selected {
      border: 1px solid #999;
    }
  }


}

.panel {
  &.panel-total {
    .footer {
      font-size: 1rem;

      .total {
        font-weight: bold;
      }
    }
  }
}
